<h1 style="text-align:center; color:yellow;">Graduate Admission Prediction using ANN</h1>

In [22]:
import pandas as pd

In [23]:
df=pd.read_csv("Admission_Predict_Ver1.1.csv")

In [24]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [25]:
df.drop(columns=["Serial No."],inplace=True)

In [26]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [27]:
df.isna().sum()

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [28]:
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [29]:
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [30]:
X=df.drop(columns=["Chance of Admit "])
y=df["Chance of Admit "]

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [32]:
from sklearn.preprocessing import MinMaxScaler
scalar=MinMaxScaler()

scalar.fit(X_train)
X_train_scaled=scalar.transform(X_train)
X_test_scaled=scalar.transform(X_test)

In [33]:
import tensorflow as tf
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [34]:
model=Sequential()

In [35]:
model.add(Dense(10,activation='relu',input_dim=7))

In [36]:
model.add(Dense(5,activation='relu'))

In [37]:
model.add(Dense(1,activation='linear'))

In [38]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 10)                80

 dense_4 (Dense)             (None, 5)                 55

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 141 (564.00 Byte)
Trainable params: 141 (564.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [39]:
model.compile(loss='mean_squared_error',optimizer="Adam")

In [40]:
from sklearn import metrics


model.fit(X_train_scaled,y_train,validation_split=0.2,epochs=25)

Epoch 1/25

10/10 [==============================] - 1s 21ms/step - loss: 0.1825 - val_loss: 0.1341
Epoch 2/25
10/10 [==============================] - 0s 9ms/step - loss: 0.0938 - val_loss: 0.0702
Epoch 3/25
10/10 [==============================] - 0s 8ms/step - loss: 0.0577 - val_loss: 0.0523
Epoch 4/25
10/10 [==============================] - 0s 7ms/step - loss: 0.0500 - val_loss: 0.0478
Epoch 5/25
10/10 [==============================] - 0s 8ms/step - loss: 0.0461 - val_loss: 0.0432
Epoch 6/25
10/10 [==============================] - 0s 9ms/step - loss: 0.0413 - val_loss: 0.0388
Epoch 7/25
10/10 [==============================] - 0s 8ms/step - loss: 0.0372 - val_loss: 0.0353
Epoch 8/25
10/10 [==============================] - 0s 12ms/step - loss: 0.0335 - val_loss: 0.0321
Epoch 9/25
10/10 [==============================] - 0s 13ms/step - loss: 0.0303 - val_loss: 0.0290
Epoch 10/25
10/10 [==============================] - 0s 12ms/step - loss: 0.0273 - val_loss: 0.0263
Epoch 11/25
10/10 [==============================] - 0s 11ms/step - loss: 0.0246 - val_loss: 0.0240
Epoch 12/25
10/10 [==============================] - 0s 8ms/step - loss: 0.0222 - val_loss: 0.0218
Epoch 13/25
10/10 [==============================] - 0s 8ms/step - loss: 0.0201 - val_loss: 0.0199
Epoch 14/25
10/10 [==============================] - 0s 10ms/step - loss: 0.0181 - val_loss: 0.0181
Epoch 15/25
10/10 [==============================] - 0s 16ms/step - loss: 0.0163 - val_loss: 0.0163
Epoch 16/25
10/10 [==============================] - 0s 8ms/step - loss: 0.0145 - val_loss: 0.0148
Epoch 17/25
10/10 [==============================] - 0s 10ms/step - loss: 0.0129 - val_loss: 0.0132
Epoch 18/25
10/10 [==============================] - 0s 11ms/step - loss: 0.0116 - val_loss: 0.0120
Epoch 19/25
10/10 [==============================] - 0s 9ms/step - loss: 0.0105 - val_loss: 0.0110
Epoch 20/25
10/10 [==============================] - 0s 6ms/step - loss: 0.0096 - val_loss: 0.0103
Epoch 21/25
10/10 [==============================] - 0s 9ms/step - loss: 0.0088 - val_loss: 0.0097
Epoch 22/25
10/10 [==============================] - 0s 7ms/step - loss: 0.0083 - val_loss: 0.0092
Epoch 23/25
10/10 [==============================] - 0s 8ms/step - loss: 0.0078 - val_loss: 0.0088
Epoch 24/25
10/10 [==============================] - 0s 8ms/step - loss: 0.0074 - val_loss: 0.0084
Epoch 25/25
10/10 [==============================] - 0s 9ms/step - loss: 0.0071 - val_loss: 0.0081

In [41]:
y_pred=model.predict(X_test_scaled)

4/4 [==============================] - 0s 5ms/step

In [42]:
from sklearn.metrics import r2_score


r2_score(y_test,y_pred)

0.6600647913878133